@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;

}

p {
    font-size: .6rem;
    padding: 10px 0;
    line-height: 17px;
    color: #534C64;
}

a {
    text-decoration: none;
    color: #3C354F;
}

/* Header part */

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;

}


.nav-head {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.nav-head h2 span {
    color: #FF42A5;
}

.nav-head img {
    width: 30%;
    height: 60%;
}

.nav-links {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.nav-links li {
    font-size: .7rem;
    font-weight: 500;
}

.nav-btn {
    display: flex;
    padding: 10px 15px;
    column-gap: 10px;
    align-items: center;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-size: .7rem;
    font-weight: 500;

}

.nav-btn img {
    width: 10%;


}


/* Banner part */
.banner {
    max-width: 1440px;
    display: flex;

}

.banner-content img {
    width: 100%;
    height: 100%;
}

.banner-content-des {
    margin-top: -400px;
    margin-left: 100px;
}

.banner-content-des h2 {
    font-weight: 600;
    margin-left: 8px;
}


.banner-content-des h1 {
    font-size: 4rem;
    font-weight: 900px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content-des li img {
    width: 2%;
    margin-right: 7px;
}

.banner-content-des li {
    font-size: .7rem;
    color: #534C64;
    margin: 10px 0px;

}



.banner-btn {
    margin: 15px 0px;

}

.sign-in {
    background-color: #FF42A5;
    padding: 10px 20px;
    border-radius: 48px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: .8rem;
    cursor: pointer;
}

.rouge {
    background-color: #4EC5F7;
    padding: 10px 20px;
    border-radius: 48px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: .8rem;
    cursor: pointer;
}

.banner-img img {
    width: 90%;
    height: 101%;
}

/* Gamer section */

.gamer {
    max-width: 1440px;
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    align-items: center;
    justify-content: center;
    gap: 3px 175px;
    /* height: 400px; */

}

.gamer img {
    width: 40%;
}

.gamer-content {
    text-align: right;
    width: 30%;

}

/* .gamer-content p {
    font-size: .8rem;
    padding: 10px 0;

    color: #534C64;
} */

.gamer-content h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-content button {
    margin: 10px 0;

}

.gamer-content h5 {
    color: #534C64;
    font-weight: 400;
}

.gamer-content h4 {
    color: #534C64;
    margin-top: 5px;
}


/*  Games section */

.games {
    max-width: 1440px;
}

.games-des {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.games-des span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-img {
    display: flex;
    justify-content: center;
    margin-left: 30px;

}

.games-img p {
    width: 60%;
    margin-left: 70px;
    text-align: left;
}

.games-img div {
    margin: 1px -13px 0px -77px;
    text-align: center;
}

.games-img img {
    width: 60%;

}