@media screen and (max-width :  576px) {
   
 
   
   
    /* Header part */
    nav{
        flex-direction: column;
        
    }
    .nav-head{
        width: 40%;
        margin-left: 140px;
        margin-bottom: 35px;
    }
    .nav-links{
        flex-direction: column;
        row-gap: 25px;
        
    }


    /* Banner part */

    .banner{
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 60%;
        margin: 30px 0px 30px 100px;
    }
    .banner-content img{
        width: 80%;
        height: 50%;
        margin: 5px 0px 5px 70px;
    }

    .banner-content-des{
        text-align: center;
        width: 60%;
        margin: -250px 50px;

        
    }
    .banner-content-des h1{
        font-size: 3rem;
    }

    .banner-content-des li{
        text-align: left;
        
    }

    .banner-content-des li img{
        width: 5%;
        margin-bottom: -3px;
    }

    .sign-in{
        font-size: .5rem;
    }
    .rouge{
        font-size: .5rem;
    }


    /* Gamer scetion */
    .gamer{
        flex-direction: column;
        
    }

    .gamer img{
        margin-top: 300px;
        width: 60%;
    }
    .gamer-content{
        text-align: center;
        width: 75%;
        /* font-size: .8rem; */
    }

    .gamer-content p{
        line-height: 19px;
    }

    .gamer-content h5{
        margin-top: 30px;
        margin-bottom: 10px;
    }



}